.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  background-image: url('../../assets/battleship-game-waterTexture.jpeg'); 
  background-size: cover;
  transition: filter 0.3s ease;
}

.cell:hover {
  filter: brightness(1.5);
}

.cell-ship {
  background-image: none;
  background-color: #8b4513;
}