.my-ship-selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.my-ship-selection-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.my-ship-list {
  justify-content: flex-start;
  align-items: flex-start;
  display: list-item;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.my-ship-list-item {
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: background-color 0.3s;
  display: flex; 
  align-items: center; 
}

.my-ship-list-item:hover {
  background-color: #696969;

}

.my-ship-list-item.selected {
  background-color: #3498db;
  color: #fff;
}

.my-ship-image {
  width: 50px; 
  height: 20px;
  margin-right: 8px;
  background-size: 100%;
  background-position: center;
}

.my-orientation-buttons {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.my-orientation-button {
  background-color: #888;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}

.my-orientation-button:hover {
  filter: brightness(1.2);
}

.my-orientation-button.selected {
  background-color: #3498db;
  color: #fff;
}

.my-ship-list-item.disabled {
  filter: brightness(0.5);
  background-color: transparent;
  color: #888;
  cursor: not-allowed;
}

.my-ship-list-item.disabled:hover {
  background-color: transparent;
}

.my-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.my-reset-button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.my-reset-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.my-reset-button:hover {
  background-color: #c9302c; 
}

.my-random-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.my-random-button {
  margin-left: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #6699CC; 
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.my-random-button:hover {
  background-color: #5a8cb0; 
}