.boards-container {
  display: flex;
  justify-content: space-between;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 0px;
}

.number-column {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  padding-top: 45px;
  gap: 2px;
}

.number-cell {
  height: 50px; 
  width: 30px;
  cursor: default;
}

.letter-cell {
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}