#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.my-mainTitle-text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.my-secondaryTitle-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: cornflowerblue;
  cursor: default;
}

.my-secondaryTitle-text-myBoard {
  color: cornflowerblue;
}

.my-secondaryTitle-text-enemyBoard {
  color: #A52A2A;
}

.my-board-column {
  text-align: center;
  margin: 20px;
}

.my-play-button {
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.my-play-button:hover {
  background-color: #3e8e41;
}

.my-modalBody-text, .my-modalTitle-text {
  color: #242424;
}

.my-victoryCounter-text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}