#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.mainTitle-text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.secondaryTitle-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: cornflowerblue;
}

.secondaryTitle-text-myBoard {
  color: cornflowerblue;
}

.secondaryTitle-text-enemyBoard {
  color: #A52A2A;
}

.board-column {
  text-align: center;
  margin: 20px;
}

.play-button {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ready-button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.reset-button {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.reset-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.reset-button:hover {
  background-color: #c9302c; 
}

.random-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.random-button {
  margin-left: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #5bc0de; 
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.random-button:hover {
  background-color: #46b8da;
}
