#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.mainTitle-text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.secondaryTitle-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: cornflowerblue;
}

.secondaryTitle-text-myBoard {
  color: cornflowerblue;
}

.secondaryTitle-text-enemyBoard {
  color: #A52A2A;
}

.board-column {
  text-align: center;
  margin: 20px;
}

.play-button {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ready-button:hover {
  background-color: #45a049;
}
